[submodule "src/fmt"]
	path = extern/fmt
	url = https://gitee.com/lv-tianning/fmt.git
[submodule "extern/amrex"]
	path = extern/amrex
	url = https://gitee.com/lv-tianning/amrex.git
[submodule "extern/Microphysics"]
	path = extern/Microphysics
	url = https://gitee.com/lv-tianning/Microphysics.git
	branch = development
[submodule "extern/yaml-cpp"]
	path = extern/yaml-cpp
	url = https://gitee.com/lv-tianning/yaml-cpp.git
[submodule "extern/openPMD-api"]
	path = extern/openPMD-api
	url = https://gitee.com/lv-tianning/openPMD-api.git
[submodule "extern/regression_testing"]
	path = extern/regression_testing
	url = https://gitee.com/lv-tianning/regression_testing.git
[submodule "extern/turbulence"]
	path = extern/turbulence
	url = https://gitee.com/lv-tianning/turbulence_generator.git
[submodule "extern/AMReX-Hydro"]
	path = extern/AMReX-Hydro
	url = https://gitee.com/lv-tianning/AMReX-Hydro.git
